Repository EtaoinWu/typinox: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff format, ruff lint, pyright, mypy

ruff format:
  name: Ruff formatter
  entry: poetry run ruff format
  language: system

ruff lint:
  name: Ruff linter
  entry: poetry run ruff check --fix
  language: system

pyright:
  name: Pyright type checker
  entry: poetry run pyright
  language: system

mypy:
  name: Mypy type checker
  entry: poetry run mypy
  language: system

doc: Add internal and public documents to .shaped and .module
  docs/src/api/index.rst
  docs/src/api/typedmodule.rst
  docs/src/api/typinox.shaped.rst
  docs/src/index.rst
  pyproject.toml
  test/module/test_module_policy.py
  typinox/_module.py
  typinox/module.py
  typinox/shaped.py
Due: ruff format, ruff lint, pyright, mypy

ci: prepare for readthedocs build
  .readthedocs.yaml
  poetry.lock
  pyproject.toml
Due: none

chore: bump poetry lock
  poetry.lock
Due: none

ci: prepare for the v0.2.1 release
  .github/workflows/release-on-tag.yml
  README.md
  docs/release_notes.md
  docs/src/conf.py
  pyproject.toml
Due: ruff format, ruff lint

chore (tooling): bump dependencies, migrate to uv, prepare for v0.3.0rc0
  .pre-commit-config.yaml
  docs/release_notes.md
  docs/src/conf.py
  poetry.lock
  pyproject.toml
  typinox/_module.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

chore (ci): finish migrating to uv, fix linters
  .github/workflows/ci-on-commit.yml
  .github/workflows/publish-pypi-on-release.yml
  .github/workflows/publish-test-pypi-on-tag.yml
  .github/workflows/release-on-tag.yml
  .pre-commit-config.yaml
  pyproject.toml
  test/module/test_module_vmapped.py
  test/test_tree_stack.py
  test/test_validator.py
  typinox/_module.py
  typinox/_vmapped.py
  typinox/tree.py
Due: ruff format, ruff lint, pyright, mypy

test (module): add class with init
  test/module/test_module_with_init.py
Due: ruff format, ruff lint, pyright, mypy

fix: temporary fix for Unpack-ed TypeVarTuple's. We cannot handle it cleanly due to dependency; see https://github.com/beartype/beartype/issues/562.
  test/module/test_module_constraint_scope.py
  test/module/test_module_typevartuple.py
  typinox/_module.py
  typinox/validator.py
Due: ruff format, ruff lint, pyright, mypy

chore: bump dependencies; prepare for 0.3.0
  pyproject.toml
  uv.lock
Due: none

doc: prepare for 0.3.0
  docs/release_notes.md
  docs/src/conf.py
  pyproject.toml
  uv.lock
Due: ruff format, ruff lint

Release v0.3.0 (#3)
  .github/workflows/ci-on-commit.yml
  .github/workflows/publish-pypi-on-release.yml
  .github/workflows/publish-test-pypi-on-tag.yml
  .github/workflows/release-on-tag.yml
  .pre-commit-config.yaml
  docs/release_notes.md
  docs/src/conf.py
  poetry.lock
  pyproject.toml
  test/module/test_module_constraint_scope.py
  test/module/test_module_typevartuple.py
  test/module/test_module_vmapped.py
  test/module/test_module_with_init.py
  test/test_tree_stack.py
  test/test_validator.py
  typinox/_module.py
  typinox/_vmapped.py
  typinox/tree.py
  typinox/validator.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

fix (validator): workaround for unpacked TypeVarTuple see: https://github.com/beartype/beartype/issues/562#issuecomment-3404611632
  docs/release_notes.md
  docs/src/conf.py
  pyproject.toml
  typinox/validator.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

chore: bump dependencies, prepare for 0.4.0
  docs/release_notes.md
  docs/src/conf.py
  docs/src/index.rst
  pyproject.toml
  test/module/test_module_policy.py
  typinox/_vmapped.py
  typinox/validator.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

chore(ci): bump github ci python version
  .github/workflows/ci-on-commit.yml
Due: none

release(0.4.0): dependency bump, ValidatedT workaround (#5)
  .github/workflows/ci-on-commit.yml
  docs/release_notes.md
  docs/src/conf.py
  docs/src/index.rst
  pyproject.toml
  test/module/test_module_policy.py
  typinox/_vmapped.py
  typinox/validator.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

chore: bump dependencies; prepare for v0.5.0
  docs/release_notes.md
  docs/src/conf.py
  pyproject.toml
  uv.lock
Due: ruff format, ruff lint

chore(ci): migrate to basedpyright; [...more] 1. various typing fixed for basedpyright 2. added AGENTS.md for agentic coding
  .editorconfig
  .github/workflows/ci-on-commit.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/src/development.rst
  pyproject.toml
  test/conftest.py
  test/module/test_module_basic.py
  test/module/test_module_constraint_scope.py
  test/module/test_module_efficiency.py
  test/module/test_module_ml.py
  test/module/test_module_policy.py
  test/module/test_module_typevartuple.py
  test/module/test_module_validate.py
  test/module/test_module_vmapped.py
  test/module/test_module_with_init.py
  test/test_tree_stack.py
  test/test_validator.py
  test/test_vmapped.py
  typinox/_helper.py
  typinox/_module.py
  typinox/_vmapped.py
  typinox/debug.py
  typinox/module.py
  typinox/shaped.py
  typinox/validator.py
  typinox/vmapped.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

chore(ci/docs): Fix readthedocs generation with uv
  .readthedocs.yaml
  pyproject.toml
Due: none

fix(module): equinox compatibility
  .pre-commit-config.yaml
  typinox/_module.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

chore(dep): bump dependencies; prepare for v0.5.1 release
  docs/release_notes.md
  docs/src/conf.py
  pyproject.toml
  uv.lock
Due: ruff format, ruff lint

chore(ci): bump python version in ci
  .github/workflows/publish-pypi-on-release.yml
  .github/workflows/publish-test-pypi-on-tag.yml
  .github/workflows/release-on-tag.yml
Due: none

chore(ci): add pyrefly
  .github/workflows/ci-on-commit.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  typinox/_module.py
  uv.lock
Due: ruff format, ruff lint, pyright, mypy

minor: clarify pre-3.14 _UnionGenericAlias
  typinox/_module.py
Due: ruff format, ruff lint, pyright, mypy

chore(typing): make basedpyright & pyrefly happy
  .github/workflows/ci-on-commit.yml
  test/module/test_module_basic.py
  test/module/test_module_ml.py
  test/module/test_module_validate.py
  test/module/test_module_vmapped.py
Due: ruff format, ruff lint, pyright, mypy

chore(typing): type-up the tests
  pyproject.toml
  test/conftest.py
  test/module/test_module_basic.py
  test/module/test_module_efficiency.py
  test/module/test_module_ml.py
  test/module/test_module_validate.py
  test/module/test_module_vmapped.py
  test/test_tree_stack.py
  test/test_validator.py
  test/test_vmapped.py
  typinox/_module.py
Due: ruff format, ruff lint, pyright, mypy

fix(field): type annotation of field()
  typinox/_module.py
Due: ruff format, ruff lint, pyright, mypy

Path conditions:
  ruff format: any of: ^(typinox|test|docs)/ and \.py$
  ruff lint: any of: ^(typinox|test|docs)/ and \.py$
  pyright: any of: ^(typinox|test)/ and \.py$
  mypy: any of: ^(typinox|test)/ and \.py$
